PORT=4000
MONGO_URI=mongodb://localhost:27017/dropee
EMAIL=your_email@gmail.com
EMAIL_PASSWORD=your_app_password
BASE_URL=http://localhost:4000
FRONTEND_URL=http://localhost:5173
TWILIO_SID=your_twilio_sid
TWILIO_TOKEN=your_twilio_token
TWILIO_NUMBER=+1234567890
